<h3>Edit <%= @course_assignment.assignment.name %></h3>
<%= form_for @course_assignment.assignment do |f| %>
  <% if @course_assignment.assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @course_assignment.assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %> (required)
  <%= f.text_field :name, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :date_due %>
  <%= f.datetime_select :date_due, start_year: DateTime.current.year, end_year: 2015, ampm: true %><br /><br />

  <%= f.label :category %>
  <%= f.text_field :category, class: 'form-control form-control-inline' %><br /><br />

  <%= f.label :total_points %>
  <%= f.number_field :total_points, class: 'form-control form-control-inline' %><br /><br />

  <div class="actions">
      <%= f.submit "Submit", class:"btn btn-primary" %>
  </div>

<% end %>
