<% provide(:title, "Course Assignments") %>
<h3>Course Assignments</h3>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Date Created</th>
        <th>Date Due</th>
        <th>Category</th>
        <th>Total Points</th>

      </tr>
    </thead>

    <tbody class="course_assignments_table">
      <% @course_assignments.each do |course_assignment| %>
      <tr id= "courseassignmentid<%= course_assignment.id.to_s %>">
        <td class="a_buttons"><%= link_to course_assignment.assignment.title, course_assignment.assignment %><p id="courseassignmentbuttons<%= course_assignment.assignment.id.to_s %>"></p></td>
        <td><%= link_to course_assignment.course.name, course_assignment.course %></td>
        <td><%= course_assignment.assignment.created_at.strftime("%A, %B %d, %Y, at %I:%M %p") %></td>
        <td><%= course_assignment.assignment.date_due %></td>
        <td><%= course_assignment.assignment.category %></td>
        <td><%= course_assignment.assignment.total_points %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="course_assignment_form"></div>
<br>
<%= link_to 'Create New Course Assignment', new_course_assignment_path, class: "btn btn-primary" %>
<br /><br />
<%= link_to 'Back to Courses', courses_path, class: "btn btn-danger" %>
