<tr>
  <td><%= link_to @assignment.title, @assignment, remote:true, class: "assignment" %><p id="assignmentbuttons<%= @assignment.id.to_s %>"></p></td>
  <td><%= @assignment.created_at.strftime("%A, %B %d, %Y, at %I:%M %p") %></td>
  <td><%= @assignment.date_due %></td>
  <td><%= @assignment.category %></td>
  <td><%= @assignment.total_points %></td>
</tr>
