<% provide(:title, "Assignments") %>
<h3>Created Assignments</h3>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Created</th>
        <th>Date Due</th>
        <th>Category</th>
        <th>Total Points</th>
      </tr>
    </thead>

    <tbody class="assignments_table">
      <% @assignments.sort_by(&:created_at).each do |assignment| %>
      <tr id="assignmentid<%= assignment.id.to_s %>">
        <td class="a_buttons"><%= link_to assignment.name, assignment, remote:true %><p id="assignmentbuttons<%=assignment.id.to_s %>"></p></td>
        <td><%= assignment.created_at.strftime("%A, %B %d, %Y, at %I:%M %p") %></td>
        <td><%= assignment.date_due.strftime("%A, %B %d, %Y, at %I:%M %p") %></td>
        <td><%= assignment.category %></td>
        <td><%= assignment.total_points %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="assignment_form"></div>
<br>
<%= link_to 'View Assignments by Course', course_assignments_path, class: "btn btn-info" %><br /><br />
<%= link_to 'Create New Assignment', new_assignment_path, class: "btn btn-primary", remote: true, id: "create_assignment" %><br /><br />
<%= link_to 'Back to Courses', courses_path, class: "btn btn-danger" %>
