<div class="table-responsive" id="main-table">
  <table class="table table-bordered table-hover">
    <thead>
      <tr id="student_info_header">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade Level</th>
        <th>Average</th>
        <% @course.course_assignments.each do |course_assignment| %>
          <th id="course-assignment-id<%= j course_assignment.id.to_s %>"><%= link_to course_assignment.assignment.name, course_assignment, remote: true %><p class="course-assignment_buttons" id="course-assignment-buttons<%= j course_assignment.id.to_s %>"></p></th>
        <% end %>
      </tr>
    </thead>

    <tbody id="students-and-grades">
      <% @course.course_enrollments.where(active: true).each do |course_enrollment| %>
        <tr id="studentid<%= course_enrollment.student.id.to_s %>">
          <td class="student"><%= link_to course_enrollment.student.first_name, course_enrollment.student, remote:true %></td>
          <td><%= course_enrollment.student.last_name %></td>
          <td><%= course_enrollment.student.grade_level %></td>
          <td>Average</td>
          <% @course.course_assignments.each do |course_assignment| %>
            <% grade = course_assignment.assignment.grades.for_student(course_enrollment.student).first %>
            <% if grade %>
              <td><%= link_to grade.points_earned, edit_grade_route(@course.id, course_enrollment.student.id, course_assignment.assignment.id), id: "edit_grade", remote: true %></td>
            <% else %>
              <td><%= link_to '---', new_grade_route(@course.id, course_enrollment.student.id, course_assignment.assignment.id), id: "add_grade", remote: true %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
